~*
/*

*.jar

!.gitignore
!MODLIST.md
!README.md
!/.vscode
!/bansoukou
!/config
!/resources
!/scripts
config/acronym/material_system.cfg
config/acronym/saved
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/Facades.cfg
config/AppliedEnergistics2/items.csv
config/brandon3055/BrandonsCore.cfg
config/brandon3055/ProjectIntelligence/GuiStyle/DefaultPresets/
config/brandon3055/ProjectIntelligence/ModDocs/Draconic Evolution/draconicevolution-en_US.xml
config/brandon3055/ProjectIntelligence/projectintelligence.xml
config/codechicken/supporters.json
config/codechicken/supporters.marker
config/cofh/thermalfoundation/lexicon-whitelist.cfg
config/enderio/enderiointegrationforestry.cfg
config/enderio/painter_paint_sources_core.xml
config/enderio/painter_paint_sources_user.xml
config/enderio/recipes/*.pdf
config/enderio/recipes/examples/
config/enderio/recipes/user/recipes.xsd
config/jei/worldSettings.cfg
config/loliasm/methods-stable_39.csv
config/mekanism/MekanismTools.cfg
config/Probe.cfg
config/tconstruct_oredictcache.dat
config/waila/theme/
config/xaeropatreon.txt
scripts/.zsrc
scripts/recipes.zs
config/biomesoplenty/biomes/defaults/
config/ProjectE/customConversions/
config/thaumicjei_itemstack_aspects.json
scripts/nc_script_addons/
config/xaeroworldmap-common.txt
config/xaerominimap-common.txt
config/rftools/dimlets.json
config/Aether/analytics.json.gz
config/cofh/thermalcultivation/client.cfg
config/cofh/thermalinnovation/client.cfg
config/moresoundconfig.cfg
config/armoryexpansion/conarm/conarm-materials.json
config/hbm/
config/brandon3055/contributors.json
config/machinemuse/cosmeticpresets/
config/solarflux/textures/example_base.png
config/solarflux/textures/example_top.png
config/splash.properties
config/xaerominimap_entities.json
config/astralsorcery/amulet_enchantments.cfg
config/splash.properties
config/startuptimer/startup_times.json
config/astralsorcery/amulet_enchantments.cfg
config/xaerominimap_entities.json
