~*
/*

*.jar

!.gitignore
!MODLIST.md
!README.md
!/.vscode
!/bansoukou
!/config
!/resources
!/scripts
config/acronym/material_system.cfg
config/acronym/saved
config/Aether/analytics.json.gz
config/AppliedEnergistics2/CustomRecipes.cfg
config/AppliedEnergistics2/Facades.cfg
config/AppliedEnergistics2/items.csv
config/armoryexpansion/conarm/conarm-materials.json
config/astralsorcery/amulet_enchantments.cfg
config/astralsorcery/amulet_enchantments.cfg
config/biomesoplenty/biomes/defaults/
config/brandon3055/BrandonsCore.cfg
config/brandon3055/contributors.json
config/brandon3055/ProjectIntelligence/GuiStyle/DefaultPresets/
config/brandon3055/ProjectIntelligence/ModDocs/Draconic Evolution/draconicevolution-en_US.xml
config/brandon3055/ProjectIntelligence/projectintelligence.xml
config/codechicken/supporters.json
config/codechicken/supporters.marker
config/cofh/thermalcultivation/client.cfg
config/cofh/thermalfoundation/lexicon-whitelist.cfg
config/cofh/thermalinnovation/client.cfg
config/enderio/enderiointegrationforestry.cfg
config/enderio/painter_paint_sources_core.xml
config/enderio/painter_paint_sources_user.xml
config/enderio/recipes/*.pdf
config/enderio/recipes/examples/
config/enderio/recipes/user/recipes.xsd
config/hbm/
config/jei/worldSettings.cfg
config/loliasm/methods-stable_39.csv
config/machinemuse/cosmeticpresets/
config/mekanism/MekanismTools.cfg
config/moresoundconfig.cfg
config/Probe.cfg
config/ProjectE/customConversions/
config/rftools/dimlets.json
config/solarflux/textures/example_base.png
config/solarflux/textures/example_top.png
config/splash.properties
config/splash.properties
config/startuptimer/startup_times.json
config/tconstruct_oredictcache.dat
config/thaumicjei_itemstack_aspects.json
config/waila/theme/
config/xaerominimap_entities.json
config/xaerominimap_entities.json
config/xaerominimap-common.txt
config/xaeropatreon.txt
config/xaeroworldmap-common.txt
scripts/.zsrc
scripts/nc_script_addons/
scripts/recipes.zs
config/fantasticlib/reference/biomes.txt
config/fantasticlib/reference/blocks.txt
config/fantasticlib/reference/blockstates.txt
config/fantasticlib/reference/enchantments.txt
config/fantasticlib/reference/entities.txt
config/fantasticlib/reference/items.txt
config/fantasticlib/reference/oredict.txt
config/fantasticlib/reference/players.txt
config/fantasticlib/reference/potion_types.txt
config/fantasticlib/reference/potions.txt
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/slottings.txt
config/fantasticlib/reference/sounds.txt
config/fantasticlib/reference/villager_professions.txt
